<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Blog de COCINA</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <header>
    <h1>Blog de COCINA</h1>
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Recetas regionales</a></li>
        <li><a href="#">Tips de cocina </a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h2>Recetas recientes</h2>
      <ul>
        <li><a href="#">Locro</a></li>
        <li><a href="#">Empanadas fritas</a></li>
        <li><a href="#">Postre de chocolate</a></li>
      </ul>
    </section>
    <section>
      <h2>Próximas recetas</h2>
      <ul>
        <li><a href="#">Torta de chocolate</a></li>
        <li><a href="#">Helado de vainilla</a></li>
        <li><a href="#">Galletas con frutos secos</a></li>
      </ul>
    </section>
  </main>
  <footer>
    <p>Copyright 2023 @infoproyecto/c6-g2