<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Bio del Blog</title>
</head>
<body>
   <header>
      <h1>Presentamos aquí a los creadores de "Degustando Sabores"</h1>
      <p class="subtitle">Chef Orlando: Dedicado a la cocina desde el año 2012, ha recorrido los restaurantes más populares del mundo.</p>
      <p class="subtitle">Chef Matias: Un apasionado cocinero de los lugares de comidas más visitados por el turismo extranjero en la Argentina.</p>
    </header>
</body>
</html>